<div id="inference" class="inference">
    <div class="occupancy">
        <p>Положение устройва:</p>
        <p class="onoff" id="onoff"></p>
    </div>
    <div class="occupancyBand" id="occupancyBand">
        <p class="shapePercent" id="shapePercent"></p>
        <div class="shape" id="shape">
            <div class="prcnt" id="prcnt"></div>
        </div>
    </div>
    <div class="time" id="time">
        <p>Время выполнения работы:</p>
        <p class="writeTime" id="writeTime"></p>
    </div>
    <div class="heating">
        <div>
            <p>Температура на данный момент:</p>
            <p class="degree" id="degree"></p>
            <p>°С</p>
        </div>
    </div>
    <div class="formStripe" id="formStripe">
        <div class="stripe" id="stripe"></div>
        <p class="execution"></p>
        
    </div>
    <div class="occupancyBand" id="occupancyBand">
        <div class="shape" id="shape">
            <div class="stripeTemperature" id="stripeTemperature"></div>
        </div>
    </div>
    <input type="button" value="Stop" id="stopa" class="stop continue">
    <input type="button" value="Продолжить" id="start" class="start continue">
</div>