.diagram{
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 100%;
   }
.block{
    position: relative;
    border-style: solid;
    border-color: white;
    width: 60vw;
    height: 50vh;
}


